*{
	transition:0.4s;
}
.box{
	float: left;
	margin: 2%;
}
.box img{
	width: 15%;
	margin: 2%;
	height: 200px;
}
img{
	width: 20%;
	margin-left: 10%;
}
.box img:hover{
	width: 20%;
	height: 250px;
	margin: 0%;
}
p{

}